
.postcard h3{
       height: 40px;
       overflow: hidden;
       text-overflow:ellipsis ;
       white-space: nowrap;
}

.loader{
        position: fixed;
        top: 0;
        left:0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
}